---
layout: archive
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}

{% for collection_name in page.collections %}
  {% assign collection = site.collections | where: 'label', collection_name | first %}
  {% if collection %}
    {% assign entries = collection.docs | where_exp: 'post', 'post.hidden != true' %}
    <section class="taxonomy__section">
      <h2 id="{{ collection.label | slugify }}" class="archive__subtitle">{{ collection.label | capitalize }}</h2>
      <div class="entries-{{ entries_layout }}">
        {% include documents-collection.html entries=entries sort_by=page.sort_by sort_order=page.sort_order type=entries_layout %}
      </div>
    </section>
  {% endif %}
{% endfor %}